h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Inter", sans-serif;
}

:root {
	--light: #f5f5f7;
	--dark: #221f20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;
}

.container {
	padding: 0 var(--container-padding-inline);
}

.promo {
	position: relative;
	min-height: 100vh;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	padding-top: 75px;
}

.promo__title {
	font-weight: 400;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--light);
}

.promo__subtitle {
	margin-top: 124px;
	font-weight: 100;
	font-size: 32px;
	color: var(--light);
	line-height: normal;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-top: 20px;
	width: 160px;
	min-height: 38px;
	padding: 3px 10px;
	border: 1px solid var(--light);
	background: rgba(217, 217, 217, 0);
	color: var(--light);
	font-size: 16px;
	font-weight: 100;
	line-height: normal;
	cursor: pointer;
}

.promo__address {
	margin-top: 100px;
	color: var(--light);
	font-size: 16px;
	font-weight: 100;
	line-height: normal;

	address {
		font-style: normal;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

.keywords {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--light);
	bottom: 0;
	padding: 0 360px;
	width: 100%;
	height: 20px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.20) 100%);

	li {
		list-style-type: none;
		font-weight: 100;
		font-size: 10px;
		color: var(--light);
	}
}

.about {
	padding-top: 80px;
	background-color: var(--light);
}

.about__title {
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	color: var(--dark);
}

.about__text {
	width: 1100px;
	margin-top: 20px;
	font-weight: 400;
	font-size: 40px;
	color: var(--dark);

	span {
		color: #a5a5a5;
	}
}

.services {
	display: flex;
	column-gap: 30px;
	margin-top: 80px;
}

.services__items {
	width: 50%;

	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		margin-top: 10px;
		list-style-type: none;
		font-weight: 400;
		font-size: 16px;
		color: var(--dark);
	}
}

.services__item-subtitle {
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	color: var(--dark);
}

.services__text {
	width: 50%;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: var(--dark);
}